/*стиль страниц сайта*/

.pages {
    background-color: #f8f8f8
}


/*родительский блок*/

.container {
    display: flex;
    flex-direction: column;
    padding:3px;
    width: 700px;
    margin: 0 auto;
    position: relative;
    height: 120px;
    z-index: 3;
    overflow: auto;
}

.mainCenter {
    margin: 0 auto;
    z-index: 3;
    position: absolute;
    overflow: auto;
}


/*Стиль заголовков страниц*/

h1 {
    color: #555555
}


/*стиль для меню и логотипа сайта: два блока рядом, в первом лого с масштабированием, во втором меню*/

.header {
    height: 100px;
    margin-left: 0px;
}

.header div:first-child {
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-top: 5px;
    border: 1px solid black;
    /*    border-color: black*/
}

.header .menu {
    float: right;
    padding: 0px;
}

.header .menu li a {
    display: block;
    height: 90%;
    text-decoration: none;
}

.header .menu li .dropdownMenu {
    padding-left: 10px;
    /*    float: none;*/
}

.header div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header div {
    margin-right: 10px;
}


/*стиль ссылок в меню сайта: убираем маркеры для всех списков! */

.menu li {
    /*    display: inline;*/
    float: right;
    list-style-type: none;
    width: 200px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
}

.menu ul {
    display: none;
    position: relative;
    z-index: 5;

}

.menu ul li {
    top: 100%;
    width: 190px;
}

.menu li:hover >ul {
    display: inherit;
}


/*текст в ссылках меню*/

.menu li a {
    color: black;
    font-size: 14px;
    font-style: normal;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/*и убираем отступ и поля*/

.menu {
    padding: 0;
    margin: 0;
}


/*рамка в меню*/

.menu li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/*
.menu li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
*/


/*цвет при наведении на пункт меню*/

.menu li a:hover {
    color: dimgrey;
    background-color: #ffffff;
}


/*цвет при выборе пункта меню*/

.menu li a:active {
    color: green
}


/*стиль для блока footer */

.footer {
    height: 60px;
    background-color: lightslategrey;
    position: relative;
    width: 100%;
    height: 50px;
}

.footer div {
    float: right;
    position: relative;
    margin-top: 10px;
    margin-right: 30px;
}

.catalog{
/*    в контейнере со стилем display:flex можно задать направление группировки*/
/*    float: left;*/
    width: 30%;
    padding: 5px;
}
.contatcsBlock{
    float:left;
    width: 48%;
    height: 98%;
    padding: 5px;
    
}

/*стиль текста ссылок товаров*/

.goods {
    color: black;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}


/*рамка картинки товара без смещения*/

.goods img {
    outline: 2px solid black;
}


/*исчезновение рамки при наведении на картинку без смещения*/

.goods img:hover {
    outline: none;
}


/*стиль заголовков групп товаров*/

h2 {}


/*стиль группы товара*/

h3 {}


/*стиль заголовков товара каталога*/

h4 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}


/*стиль ссылок в описании сайта, цвет наследуется из общего стиля с сылками меню*/

#extLink {
    font-size: 10px;
    font-style: italic;
}


/*стиль текста в параграфах*/

h5 {
    text-indent: 10px;
}

#ShortDescription {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px
}


/*стиль характеристик*/

#characteristicsstyle {
    color: #107040;
    font-size: 15px;
    font-style: italic;
    line-height: 17px;
    padding-left: 24px;
    /* Смещаем текст вправо */
}


/*картинка вместо маркера для списка в характеристиках */

#characteristicsstyleList {
    width: 20;
    height: 20;
    list-style-image: url(images/imgonline-com-ua-Resize-CpM3bQU0kLJFf.jpg);
}


/*стиль полного описания*/

.FulltDescription {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left
}


/*стиль списка плюсов и минусов*/

#listPM {
    list-style-type: none;
    text-indent: 30px;
}


/*таблица для контактных данных*/
.tableWOBorder{
    /*            width: 300px;*/
    /* Ширина таблицы */
    border-collapse: collapse;
    /* Убираем двойные линии между ячейками */
    border: 0px;
    /* Прячем рамку вокруг таблицы */
}

.tableWOBorder TR, .tableWOBorder TD, .tableWOBorder TH {
    padding: 0px;
    /* Поля вокруг содержимого таблицы */
    border: 0px;
    /* Параметры рамки */
    text-align: justify;
    /* Выравнивание по ширине, что означает одновременное выравнивание по левому и правому краю. Чтобы произвести это действие браузер в этом случае добавляет пробелы между словами */
}


/*стиль текста для вида контакта или для регистрационной информации*/

p1 {
    font-size: 16px;
    color: darkblue
}


/*стиль текста для контактов*/

#phoneNumberPlusEmail {
    font-size: 85%;
    color: 00: dd: dd
}

#PersonName,
#PersonPassword {
    font-size: 10px;
    color: brown;
}


/*первые буквы в словах заглавные в формах для ввода текста и ФИО*/

#PersonName {
    text-transform: capitalize;
}

#clientmessage {
    text-transform: capitalize;
}

#clientEmail:focus {
    color: greenyellow;
    background-color: blue;
}


/*стиль таблицы характеристик товара - пункт 6 задания*/

.HaedlightCharacteristics  tr, .HaedlightCharacteristics td {
    margin: 5px;
    border: 1px solid black;
    text-align: center;
    padding: 0px;
    /* Поля вокруг содержимого таблицы */
    border: 0px;
}

.HaedlightCharacteristics tr td:first-child {
    text-align: left;
}


/*стиль таблицы регистрации, таблица по пункту 9-11 задания*/
.registrationForm{
    border-collapse: collapse;
}

.registrationForm tr, .registrationForm td, .registrationForm th {
    align-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin: 0px;
    padding: 1px;
}

.registrationForm tr:first-child {
    height: 30px;
}


/*стиль первых букв в параграфах описания товара - пункт 8 задания*/

.FulltDescription:first-letter {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    /*    font-family: cursive;*/
}
.buy:hover{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 4px solid lightgreen;
}
.buy:active{
    background-color: lightgreen;
}